In [1]:
import re

In [9]:
sentence = "The quick brown fox jumps over the lazy dog"
pattern = "Quick"
# re.findall(pattern, sentence) # returns empy list 
# re.findall(pattern, sentence, re.IGNORECASE)
re.search(pattern, sentence, re.IGNORECASE)

In [10]:
re.findall('.', sentence)

['T',
 'h',
 'e',
 ' ',
 'q',
 'u',
 'i',
 'c',
 'k',
 ' ',
 'b',
 'r',
 'o',
 'w',
 'n',
 ' ',
 'f',
 'o',
 'x',
 ' ',
 'j',
 'u',
 'm',
 'p',
 's',
 ' ',
 'o',
 'v',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'l',
 'a',
 'z',
 'y',
 ' ',
 'd',
 'o',
 'g']

In [11]:
re.findall('[^abc]', sentence)

['T',
 'h',
 'e',
 ' ',
 'q',
 'u',
 'i',
 'k',
 ' ',
 'r',
 'o',
 'w',
 'n',
 ' ',
 'f',
 'o',
 'x',
 ' ',
 'j',
 'u',
 'm',
 'p',
 's',
 ' ',
 'o',
 'v',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'l',
 'z',
 'y',
 ' ',
 'd',
 'o',
 'g']

In [29]:
re.search(r"\w+", sentence)

In [34]:
phone_numbers = """123-456-7890
                    987.654.321 # an ip address
                    234-567-8901
                    654.321.987 # an ip address
                    345-678-9012
                    +321 654 9784 # a phone number with a .
                    456-789-012 # badly formatted
                    999.666.333
                    45678   # I don't know what this is !!
                """

#Find only the phone numbers: 
re.findall(r"\d{3}-\d{3}-\d{4}", phone_numbers)

#include ones with missing digit at end 
re.findall(r"\d{3}-\d{3}-\d{3,}", phone_numbers)

#include the ones with either a hyphen or a space
re.findall(r"\d{3}[\- ]\d{3}[\- ]\d{3,}", phone_numbers)

['123-456-7890', '234-567-8901', '345-678-9012', '321 654 9784', '456-789-012']

## Using Regex in PANDAs 
Clean up phone numbers in the people csv.

In [35]:
import pandas as pd 

people_df = pd.read_csv("people-1000.csv")
people_df.head(10)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,2014-01-27,Probation officer
1,2,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,+1-950-759-8687,1931-07-26,Dancer
2,3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,2013-11-25,Copy
3,4,BF2a889C00f0cE1,Whitney,Hooper,Male,zjohnston@example.com,+1-939-130-6258,2012-11-17,Counselling psychologist
4,5,9afFEafAe1CBBB9,Lindsey,Rice,Female,elin@example.net,(390)417-1635x3010,1923-04-15,Biomedical engineer
5,6,aF75e6dDEBC5b66,Sherry,Caldwell,Male,kaitlin13@example.net,8537800927,1917-08-06,Higher education lecturer
6,7,efeb05c7Cc94EA3,Ernest,Hoffman,Male,jeffharvey@example.com,093.655.7480x7895,1984-12-22,Health visitor
7,8,fb1BF3FED57E9d7,Doris,Andersen,Male,alicia33@example.org,4709522945,2016-12-02,Air broker
8,9,421fAB9a3b98F30,Cheryl,Mays,Male,jake50@example.com,013.820.4758,2012-12-16,"Designer, multimedia"
9,10,4A42Fe10dB717CB,Harry,Mitchell,Male,lanechristina@example.net,(560)903-5068x4985,1953-06-29,Insurance account manager

In [37]:
#gewt rid of any extension in the phone numbers column:

the_ext_pattern = r"x\d" #an "x" followed by any number of digits 
people_df["clean_phone"] = people_df["Phone"].str.replace(the_ext_pattern, "", regex=True)
people_df.head(10)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,clean_phone
0,1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,2014-01-27,Probation officer,857.139.8239
1,2,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,+1-950-759-8687,1931-07-26,Dancer,+1-950-759-8687
2,3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,2013-11-25,Copy,(599)782-0605
3,4,BF2a889C00f0cE1,Whitney,Hooper,Male,zjohnston@example.com,+1-939-130-6258,2012-11-17,Counselling psychologist,+1-939-130-6258
4,5,9afFEafAe1CBBB9,Lindsey,Rice,Female,elin@example.net,(390)417-1635x3010,1923-04-15,Biomedical engineer,(390)417-1635010
5,6,aF75e6dDEBC5b66,Sherry,Caldwell,Male,kaitlin13@example.net,8537800927,1917-08-06,Higher education lecturer,8537800927
6,7,efeb05c7Cc94EA3,Ernest,Hoffman,Male,jeffharvey@example.com,093.655.7480x7895,1984-12-22,Health visitor,093.655.7480895
7,8,fb1BF3FED57E9d7,Doris,Andersen,Male,alicia33@example.org,4709522945,2016-12-02,Air broker,4709522945
8,9,421fAB9a3b98F30,Cheryl,Mays,Male,jake50@example.com,013.820.4758,2012-12-16,"Designer, multimedia",013.820.4758
9,10,4A42Fe10dB717CB,Harry,Mitchell,Male,lanechristina@example.net,(560)903-5068x4985,1953-06-29,Insurance account manager,(560)903-5068985

In [39]:
#get rid of any hyphens, dots etc in the phone no column 
#to match any literal characters have to preface with a backslash, because . can mean "match any character " in regex
# space does not have to be prefaced with a \
other_chars = r"[\-\. \(\)]*" #find dash,dot, space, open barck, close bracket. Match 0 or more times 
people_df["clean_phone"] = people_df["clean_phone"].str.replace(other_chars, "", regex=True)